<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a href="/" class="navbar-brand">UFO</a>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarMenu"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/sighting" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a href="/shapes" class="nav-link">Shapes</a>
      </li>
    </ul>
  </div>
</nav>
