.navTopMargin {
  margin-top: 60px;
}
.pageTitle {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}
.selectFormTitle {
  font-size: 30px;
  font-weight: bold;
}
.selectForm {
  font-size: 15px;
}

.submitSighting {
  font-size: 30px;
  font-weight: bold;
}

.sightingContainer {
  background-color: lightyellow;
  border-radius: 5px;
}

.btnHeight {
  height: 40px;
  margin: 5px;
}

.navBarBg {
  background-color: #e3f2fd;
}

.shapeBgColor {
  background-color: silver;
}

.warningMsg{
  color: rgb(189, 36, 36);
}

.form-group.required .control-label:after{
  content: "*";
  color:red;
}
